<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Klikkimaratoni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-label><h4>Pistesaldo</h4></ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <span style="font-size: 70px;">{{ klikkikeskus.pistesaldo }}</span>
    </ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="klikkikeskus.seuraava">
    <ion-label>
      <p>{{ klikkikeskus.seuraava }}</p>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
      </ion-col>
      <ion-col text-center>
        <ion-item lines="none">
          <button class="item item-trns">
            <img (click)="klikkikeskus.klikkaa()" src="{{klikkikeskus.kuvatiedosto}}" center>
          </button>
        </ion-item>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
      </ion-col>
      <ion-col text-center>
        <ion-card>
          <ion-item color="light" class="ion-activated" text-center>
            <ion-icon name="information-circle"></ion-icon>
          </ion-item>
          <ion-item color="light" class="ion-activated">
            <ion-label text-wrap>Osallistu klikkimaratoniin painamalla yllä olevaa nappia! Yksi napin painallus kuluttaa sinulta yhden (1) pisteen. Mahdollinen voitto lisätään suoraan pistesaldoosi.</ion-label>
           </ion-item>
          <ion-item color="light" class="ion-activated" lines="none">
            <ion-label text-wrap>Pistepalkkiot jakautuvat maratoniin osallistuneiden kesken</ion-label>
          </ion-item>
          <ion-item color="light" class="ion-activated">
            <ion-label text-wrap>Joka 10. klikkaus +5 pistettä<br>
              Joka 100. klikkaus +40 pistettä<br>
              Joka 500. klikkaus +250 pistettä</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>